{% extends "admin/layout.njk" %}

{% block header %}
    <title>Users Manager- Edit</title>
{% endblock header %}

{% block contents %}

    <section class="container form">
        <form method="POST" action="/users?_method=PUT">
            <div class="header">
              <h3>Edit User</h3>
            </div>

            <div class="fields">

                <div class="item">
                    <div>Name</div>
                    <div>
                        <input 
                            type="text" 
                            name="name"
                            placeholder="User name"
                            value='{{ user.name }}'>
                    </div>
                </div>

                <div class="item">
                    <div>Email</div>
                    <div>
                        <input 
                            type="email" 
                            name="email"
                            value='{{ user.email }}'
                            placeholder='Insert the user email'>
                    </div>
                </div>
              
                <div class="item isAdmin">
                    <div>
                        <input 
                            type="checkbox" 
                            name="is_admin"
                            {% if checked %}
                            value='true'
                            {% endif %}
                            {% if user.is_admin == 'true' %}
                            checked='checked'
                            {% endif %}
                        >
                    </div>
                    <div>Administrator</div>
                </div>

                 <div class="item">
                    <div>Password - Admin</div>
                    <div>
                        <input 
                            type="password" 
                            name="password"
                            placeholder='Insert your password to save the changes'
                        >
                    </div>
                </div>

                <input type="hidden" name="id" value='{{ user.id }}'>
            </div>
            
            <div class="buttons">
                <button class="button edit" type="submit">Save</button>
                <button form ='form-delete' class="button delete" type="submit">Delete</button>
              </div>
        </form>

        <form id="form-delete" method="POST" action="/users?_method=DELETE">
            <input type="hidden" name="id" value='{{ user.id }}'>
        </form>

    </section>
    {% include "admin/confirm.njk" %}

{% endblock contents %}