<div class="item">
    <div>Name</div>
    <div>
        <input 
            type="text" 
            name="name"
            placeholder="Hey! What's your name?"
            value='{{ user.name }}'>
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input 
            type="email" 
            name="email"
            placeholder="Type your email"
            value='{{ user.email }}'>
    </div>
</div>
