{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="css/subscribe.css">
{% endblock head %}

{% block content %}
{# SUBSCRIBE PAGE #}
    <h2>Everything is ok!</h2>
    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/3860213/800x600) no-repeat center center" >

        </section>
    </div>

{% endblock content %}