@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap';

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

:root{
    /* Weight */
    --font-semi: 600;
    --font-bold: 700;

    /* Colors */
    --base-color: #ffffff;
    --red-color: #EC336B;
    --red-color-alt: #bf1447;
    --dark-color: #1a1919;
    --dark-color-light: #636363;
    --gray-color: #aaa4a4;
    --gray-color-light: #e6e0e0;
    --purple-color: #7D67EC;
    --blue-color: #32289B;

    /* Fonts */
    --small-font-size: 0.5rem; /* 8px */
    --standard-font-size: 1rem; /* 16px */
    --h2-font-size: 1.5rem; /* 24px */
    --h1-font-size: 2rem; /* 32px */
    --big-font-size: 3rem; /* 48px */

    /* Margins */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/* DESKTOP VERSION */
@media screen and (min-width: 768px) {
    :root {
         /* Fonts */
    --small-font-size: 0.5rem; /* 8px */
    --standard-font-size: 1rem; /* 16px */
    --h2-font-size: 1.5rem; /* 24px */
    --h1-font-size: 2.25rem; /* 36px */
    --big-font-size: 5rem; /* 80px */
    }
}


/* BASE */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: var(--standard-font-size);
    font-weight: var(--font-semi);
    color: var(--dark-color);
    background: var(--base-color);
    line-height: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

/* CSS */



/* LAYOUT */
.grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 1rem);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--purple-color);
    box-shadow: 0rem 0 2rem 1rem rgba(26, 25, 25, 0.3);
}

/* NAVIGATION */
.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-weight: var(--font-bold);
    margin-left: 1rem;
}

/* ---MOBILE Version */

@media screen and (max-width: 786px) {
    .nav_menu {
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--base-color);
        transition: 0.5s;        
    }
}


.nav_item {
    margin-bottom: 3rem; /* u can use --mb4 */
}

.nav_link {
    color: var(--dark-color);
    font-weight: var(--font-bold);
}

.nav_link:hover {
    color: var(--purple-color);
}


.nav_cart {
    font-size: 1.5rem;
    margin-right: var(--mb-2); /* 1rem - 16px */
}

.nav_toggle {
    font-size: 1.5rem;
}

/* SHOW - MENU */
.show {
    right: 0;
}

/* add active */
.active {
    color: var(--red-color);
}

/* SECTION */
.section {
    text-align: center;
    line-height: var(--mb-4);
}

.section-title {
    padding-top: 3rem;
}

.section-subtitle {
    margin-top: 1.5rem;
}
