<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Saintz - Management</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <header>
            <nav class="nav container">

                <div class="nav logo">
                    <a href="/admin" class="nav_logo">SAINTZ</a>
                </div>

                <div class="nav links">
                    <a href="/admin">Products</a>
                </div>

            </nav>
        </header>

        {% block contents %}{% endblock contents %}

    </body>
</html>