@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  border: 0;
  padding: 0;

  text-decoration: none;
  list-style-type: none;
}

/* BASE */
html,
body {
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f3f3;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

/* CSS */

header {
  width: 100%;
  padding: 24px 0;
  color: #e9e9e9;
  background-color: #1a1a1a;
}

header div.container {
  display: grid;
  grid-template-columns: 220px auto 280px;
  gap: 16px;
}

header div.container div a.logo {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 4px;
}

nav.menu {
  display: flex;
  align-items: center;
}

nav.menu ul {
  display: flex;
  gap: 10px;
}

/* Search bar */
input.search {
  width: 100%;
  padding: 4px;
  border-radius: 4px;
}
