@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

:root {
  /* Weight */
  --font-semi: 600;
  --font-bold: 700;

  /* Colors */
  --base-color: #ffffff;
  --red-color: #ec336b;
  --red-color-alt: #bf1447;
  --dark-color: #1a1919;
  --dark-color-light: #636363;
  --gray-color: #aaa4a4;
  --gray-color-light: #e6e0e0;
  --purple-color: #7d67ec;
  --blue-color: #32289b;

  /* Fonts */
  --small-font-size: 0.5rem; /* 8px */
  --standard-font-size: 1rem; /* 16px */
  --h2-font-size: 1.5rem; /* 24px */
  --h1-font-size: 2rem; /* 32px */
  --big-font-size: 3rem; /* 48px */

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/* DESKTOP VERSION */
@media screen and (min-width: 768px) {
  :root {
    /* Fonts */
    --small-font-size: 0.5rem; /* 8px */
    --standard-font-size: 1rem; /* 16px */
    --h2-font-size: 1.5rem; /* 24px */
    --h1-font-size: 2.25rem; /* 36px */
    --big-font-size: 5rem; /* 80px */
  }
}

/* BASE */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--standard-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color);
  background: var(--base-color);
  line-height: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* CSS */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--dark-color);
  box-shadow: 0rem 0 2rem 1rem rgba(26, 25, 25, 0.3);
}
