@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

/* BASE */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--standard-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color);
  background: var(--base-color);
  line-height: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* CSS */

header {
  width: 100%;
  padding: 24px;
  color: #e9e9e9;
  background-color: #1a1a1a;
}

header .nav,
header .nav_list {
  display: flex;
  gap: 8px;
}
