{% extends "layout.njk" %}

{% block content %}
{# MAIN ELEMENT #}

<main>
    {# HOME #}
    <section class="home">
        <div class="home_container grid">
            <div class="home_data">
                <div class="home_title">NEW <br><span>ARRIVALS</span></div>
            </div>
        </div>
    </section>

</main>

{% endblock content %}