{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="css/home.css">

{% endblock head %}


{% block content %}
{# MAIN ELEMENT #}

<main>
    {# HOME #}
    <section class="home">
        <div class="home_container grid">
            
            <div class="home_img"></div>
            <div class="home_title">NEW <br><span>ARRIVALS</span></div>
           {#  <a href="#" class="button">GO SHOPPING</a> #}
        </div>
    </section>

</main>

{% endblock content %}