{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="css/home.css">

{% endblock head %}

{% block content %}
    {# MAIN ELEMENT #}

    <main>
        {# HOME #}
        <section class="home">
            <div class="home_container grid">
                <div class="home_img"></div>
                <div class="home_data">
                    <div class="home_title">NEW<br><span>ARRIVALS</span></div>
                    <a href="#products" class="button">GO SHOPPING</a>
                </div>
            </div>
        </section>
        
        {# MOST VIEWED PRODUCTS #}

        <section class="popular_products">
            <div class="products_container grid">
                <h1>POPULAR PRODUCTS</h1>
                <div class="products_box">
                    <img src="" alt="">
                </div>
            </div>

        </section>


    </main>

{% endblock content %}