{% extends "publicAccess/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="css/publicAccess/cart.css">
    <title>YOUR CART</title>

{% endblock head %}

{% block content %}
    <section class="cart">
        <h1>Selected items</h1>
    </section>

{% endblock content %}