{% extends "publicAccess/layout.njk" %}
{% import "parts/section-products.njk" as section%}

{% block head %}
    <title>SAINTZ | HOME</title>
{% endblock head %}

{% block content %}
<main>

    <div class="news container">
    
    </div>

    <section class="last-added container">
        <h2>Last Added</h2>
        
        {{ section.products(products) }}

    </section>    

</main>
{% endblock content %}