<header>
    <div class="container admin">
        <div class="links">
            <div class="nav_logo">
                <a href="/admin/products" class="nav_logo">SAINTZ</a>
            </div>

            <nav>
                <div class="nav_links">
                    <a href="/admin/products">Products</a>
                    <a href="/admin/categories">Categories</a>
                </div>

            </nav>
        </div>
        <div class="logout">
            <form method="POST" action="/users/logout">
                <button type="submit">Logout</button>
            </form>
        </div>

    </div>
</header>