<header>
    <div class="container">
        <div class="nav_logo">
            <a href="/admin/products" class="nav_logo">SAINTZ</a>
        </div>

        <nav>
            <div class="nav_links">
                <a href="/admin/products">Products</a>
            </div>

        </nav>
    </div>
</header>