section.container {
  margin: 50px auto;
}

section.container div.header {
  display: flex;
  justify-content: space-between;
}

section.container div.header:first-child,
section.container div.body div.product_text div:first-child {
  margin: 16px 0;
  font-size: 24px;
  color: #7823ce;
  line-height: 28px;
  font-weight: bold;
}

section.container div.header div.create,
section.container div.header div.edit {
  font-size: 16px;
  line-height: 18px;
  align-self: center;
}
section.container div.header div.create a,
section.container div.header div.edit a {
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #7823ce;
}

div.products-container,
div.category-container,
div.users-container {
  display: grid;
  grid-template-columns: repeat(6, 180px);
}

div.products-container div.highlight img,
div.product-card div.highlight img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

div.product-info,
div.product-info div:first-child,
div.product-info div.price {
  margin-top: 8px;
}

div.product-info div.name {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #101010;
  text-transform: uppercase;
}

div.product-info div.name:hover {
  color: #fc5404;
  transition: color 300ms;
  text-decoration: underline;
}

div.product-info div.oldPrice {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #777;
  text-decoration: line-through;
}

div.product-info div.price {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #fc5404;
}

div.products-container div.details a {
  color: #7823ce;
}

div.products-container div.details a:hover {
  text-decoration: underline;
}

/* -- SHOW -- */

/* Gallery */
section.container .gallery {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
}

section.container .gallery div.highlight img,
section.container .gallery div.gallery-preview img {
  cursor: pointer;
}

section.container .gallery div.highlight {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.container .gallery div.highlight img {
  width: 100%;
  height: 430px;
  border-radius: 24px;
}

section.container .gallery div.gallery-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}

section.container .gallery div.gallery-preview img {
  width: 100px;
  border-radius: 8px;
  background-color: #777;
  opacity: 0.5;
}

section.container .gallery div.gallery-preview img.active {
  background-color: initial;
  opacity: 1;
}

/* -Details Body */
section.container div.body div.product_text {
  text-align: center;
}
section.container .details.body {
  margin: 24px 0;
  padding: 24px 16px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

section.container .details.body > div {
  margin: 16px 0;
}

section.container .details.body div.status span {
  background-color: #04a6e6;
  border-radius: 8px;
  padding: 1px 8px;
}

section.container .details.body div.status span.unvailable {
  background-color: #ff2442;
}

/* USERS */
section.container .users-container .buttons a,
section.container .users-container .buttons button {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

section.container .users-container .buttons a {
  color: #7823ce;
}

section.container .users-container .buttons button {
  color: #f25449;
}

section.container .users-container .buttons a:hover,
section.container .users-container .buttons button:hover {
  text-decoration: underline;
}
