section.container {
  margin: 50px auto;
}

section.container div.header {
  display: flex;
  justify-content: space-between;
}

section.container div.header:first-child,
section.container div.body div.product_text div:first-child {
  margin: 16px 0;
  font-size: 24px;
  color: #7823ce;
  line-height: 28px;
  font-weight: bold;
}

section.container div.header div.create,
section.container div.header div.edit {
  font-size: 16px;
  line-height: 18px;
  align-self: center;
}
section.container div.header div.create a,
section.container div.header div.edit a {
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #7823ce;
}

div.products-container,
div.category-container {
  display: grid;
  grid-template-columns: repeat(6, 180px);
}

div.products-container div.highlight img,
div.product-card div.highlight img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

div.product-info div:first-child {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

div.product-info div:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #777;
}

div.products-container div.visualize a {
  color: #7823ce;
}

div.products-container div.visualize a:hover {
  text-decoration: underline;
}

/* -- SHOW -- */

/* Gallery */
section.container .gallery {
  display: grid;
  grid-template-columns: 1fr auto;
}
section.container .gallery div.highlight {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.container .gallery div.highlight img {
  width: 100%;
  height: 430px;
  border-radius: 50px;
}

section.container .gallery div.gallery-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}

section.container .gallery div.gallery-preview img {
  width: 100px;
}

section.container div.body div.product_text {
  text-align: center;
}
