{% extends "admin/layout.njk" %}

{% block header %}
    <link rel="stylesheet" href="/css/admin/create.css">
{% endblock header %}

{% block contents %}

    <section class="container form">
        <form method="POST" action="/admin/products?_method=PUT">
            <div class="header">Edit Product</div>

            <div class="fields">
                {% include "admin/products/fields.njk" %}
                <input type="hidden" name="id" value='{{ product.id }}'>
            </div>
            <button class="button edit" type="submit">Update</button>
        </form>

        <form id="form-delete" method="POST" action="/admin/products?_method=DELETE">
            <input type="hidden" name="id" value='{{ product.id }}'>
            <button class="button delete" type="submit">Delete</button>
        </form>

    </section>
    {% include "admin/confirm.njk" %}

{% endblock contents %}