{% extends 'admin/layout.njk' %}
{% import "parts/section-products.njk" as section%}

{% block header %}
    <title>Products - Maneger</title>
{% endblock header %}

{% block contents %}
    <section class="body container">
        <div class="header">
            <div>Product Manager</div>
            <div class='create'>
                <a href="/admin/products/create">Add Product</a>
            </div>
        </div>


        {{ section.products(products) }}

    </section>
{% endblock contents %}