{% extends 'admin/layout.njk' %}

{% block header %}
   <title>Products - Details</title>
{% endblock header %}

{% block contents %}
    <section class="container">
        <div class="header">
            <div>{{ product.name }}</div>
            <div class='edit'>
                <a href="/admin/products/{{product.id}}/edit">Edit Product</a>
            </div>
        </div>

        <div class="body box">

            <div class = "gallery">
                <div class="highlight">
                    {% if not product.img %}
                        <img src="http://placehold.it/500x500?text=No Photo">
                    {% else %}
                        <img 
                            src="{{ product.img }}" 
                            alt="{{ product.filename }}"
                        >
                    {% endif %}
                </div>

                <div class="gallery-preview">
                    {% for image in files %}
                        <img 
                            src="{{ image.src }}" 
                            alt="{{ image.src }}"
                            {% if loop.index0 == 0 %}
                            class='active'
                            {% endif %}
                            onclick='ImageGallery.setImage(event)'
                        >
                    {% endfor %}
                </div>
            
            </div>
            <div class="product_text">
                <div>{{product.name}}</div>
                <div>{{product.price}}</div>
            </div>

            <div class="details body">
                <h3>Details</h3>
                <div><strong>Category:</strong> {{ product.category_name }}</div>
                <div><strong>Description:</strong> {{product.description}}</div>
                <div><strong>Quantity:</strong> {{product.quantity}}</div>
                <div class='status'><strong>Status:</strong> 
                    <span
                    {% if product.status != 'Available' %}
                    class='unvailable'
                    {% endif %}
                    >{{product.status}}</span>
                </div>
                <div><strong>Updated at:</strong> {{product.updated_at}}</div>
            </div>

            
        </div>

    </section>

{% endblock contents %}