{% extends "publicAccess/layout.njk" %}

{% block head %}
   <title>SAINTZ - {{product.name}}</title>
{% endblock head %}

{% block contents %}
    <section class="container">
    
        <div class="body box public">

            <div class = "gallery">
                <div class="highlight">
                    {% if not product.img %}
                        <img src="http://placehold.it/500x500?text=No Photo">
                    {% else %}
                        <img 
                            src="{{ product.img }}" 
                            alt="{{ product.filename }}"
                        >
                    {% endif %}
                </div>

                <div class="gallery-preview">
                    {% for image in files %}
                        <img 
                            src="{{ image.src }}" 
                            alt="{{ image.src }}"
                            {% if loop.index0 == 0 %}
                            class='active'
                            {% endif %}
                            onclick='ImageGallery.setImage(event)'
                        >
                    {% endfor %}
                </div>
            
            </div>
            

            <div class="details body">
                <div class="product_text">
                    <div>{{product.name}}</div>
                    <div><span>Updated at:</span> {{product.updated_at}}</div>
                </div>

                <div class="buy_info">
                    <div>{{product.description}}</div>
                    <div class='price'>{{product.price}}</div>
                    <div class='old_price'>{{product.old_price}}</div>
                    
                    <div>
                        <button class="button">Add to Cart</button>
                        <button class="button">Buy now</button>
                    </div>
                </div>
            </div>

            <div class="other_products">
                <h3>Other Popular products</h3>
                <div class="products-container grid">
                    {% for featured_product in products %}
                       {% if featured_product.id != product.id %} 
                            <div>
                                <div class="box image">
                                    <div class="highlight">
                                    {% if not featured_product.files[0] %}
                                        <a href="/products/{{featured_product.id}}">
                                            <img src="http://placehold.it/500x500?text=No Photo">
                                        </a>
                                    {% else %}
                                        <a href="/products/{{featured_product.id}}">
                                        <img 
                                            src="{{ featured_product.files[0].src }}" 
                                            alt="{{ featured_product.files[0].name }}"
                                        >
                                        </a>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="/products/{{ featured_product.id }}">
                                        <div class='name'>{{featured_product.name}}</div>
                                    </a>  
                                    {% if featured_product.old_price and featured_product.old_price != featured_product.price%}
                                        <div class='oldPrice'>{{featured_product.old_price}}</div>
                                    {% endif %}
                                    <div class='price'>{{featured_product.price}}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
        </div>

    </section>

{% endblock contents %}