       {# FOOTER ELEMENTS #}
        <footer class="footer section">
            <div class="footer_container grid">
                
                {# APP DOWNLOAD  #}
                <div class="footer_box">
                    <h3 class="footer_title">SAINTZ</h3>
                    <p class="footer_deal">Fashion Store</p>

                    {# insert app download images #}

                </div>

                {# EXPLORE #}
                <div class="footer_box">
                    <h3 class="footer_title">EXPLORE</h3>
                    <ul>
                        <li><a href="#" class="footer_link">Home</a></li>
                        <li><a href="#" class="footer_link">Products</a></li>
                        <li><a href="#" class="footer_link">Seasons</a></li>
                        <li><a href="#" class="footer_link">Subscribe</a></li>
                        <li><a href="#" class="footer_link">About</a></li>
                    </ul>
                </div>

                {# SERVICES #}
                <div class="footer_box">
                    <h3 class="footer_title">CHECK OUT OUR SERVICES</h3>
                    <ul>
                        <li><a href="#" class="footer_link">Pricing</a></li>
                        <li><a href="#" class="footer_link">New shipping</a></li> {# Formulário #}
                        <li><a href="#" class="footer_link">Gift Cards</a></li> {# Formulário #}
                        <li><a href="#" class="footer_link">Exchanges</a></li>  {# Formulário #}
                    </ul>
                </div>

                {# SOCIAL NETWORK #}
                <div class="footer_box">
                    <h3 class="footer_title">FOLLOW US</h3>
                    <a href="#" class="footer_social">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                    <a href="#" class="footer_social">
                        <i class='bx bxl-instagram'></i>
                    </a>
                    <a href="#" class="footer_social">
                       <i class='bx bxl-twitter'></i>
                    </a>
                    <a href="#" class="footer_social">
                       <i class='bx bxl-twitch' ></i>
                    </a>
                    <a href="#" class="footer_social">
                       <i class='bx bxl-youtube'></i>
                    </a>
                </div>

            </div>

        </footer>