<header>
    <div class="container">
        <div>
            <a href="/" class="logo">SAINTZ</a>
        </div>

        {# Dinamic SEACH BAR #}
        <input
            class='search'
            type="text"
            name='search'
            placeholder="Search for products"
        >


        <nav class="menu">
            <ul>
                <li class="nav_item">
                    <a href="#products" class="nav_link">Products</a>
                </li>

                <li class="nav_item">
                    <a href="#about" class="nav_link">About</a>
                </li>

            </ul>
        </nav>

    </div>
</header>