<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="/css/admin/layout.css">

<link rel="stylesheet" href="/css/admin/products/index.css">
<link rel="stylesheet" href="/css/admin/session.css">

{# USERS #}
<link rel="stylesheet" href="/css/admin/users/index.css">
{# CATEGORIES #}
<link rel="stylesheet" href="/css/admin/categories/index.css">
{# PRODUCTS #}
<link rel="stylesheet" href="/css/admin/products/create.css">

<link rel="stylesheet" href="/css/admin/messages.css">

{# PUBLIC #}
<link rel="stylesheet" href="/css/publicAccess/layout.css">
<link rel="stylesheet" href="/css/publicAccess/index.css">
<link rel="stylesheet" href="/css/publicAccess/products.css">
