<div class="item">
    <div>Name</div>
    <div>
        <input 
            type="text" 
            name="name"
            placeholder="Category Name"
            value='{{ category.name }}'>
    </div>
</div>