{% extends 'admin/layout.njk' %}

{% block header %}
    <title></title>
{% endblock header %}

{% block contents %}
    <section class="container">
        <div class="header">
            <div>Products Per Category</div>
            <div class='create'>
                <a href="/admin/products/create">Add Product</a>
            </div>
        </div>

        <div class="body card">
            {% for product in products %}
                <div class="box">
                    <div>{{product.name}}</div>
                    <div>
                        <a href="/admin/products/{{ product.id }}">Visualize</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock contents %}