{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="css/subscribe.css">
{% endblock head %}

{% block content %}
    {# SUBSCRIBE PAGE #}
    <h2>SUBSCRIPTION</h2>
    <form class="card" method='POST' action='/subscription'>
        
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/3860213/800x600) no-repeat center center"></section>

        <section class="sign_up">

            <h3>Sign Up</h3>

            <div class="item">
                <div>Name</div>
                <div>
                    <input type="text" name='name' placeholder="What's your name?" value='{{client.name}}'>
                </div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>
                    <input type="date" name='birth' placeholder="How old are you?" value='{{client.age}}'>
                </div>
            </div>

            <div class="item">
                <div>Gender</div>

                <div>
                    <span><input type="radio" name='gender' checked>Male</span>
                    <span><input type="radio" name='gender'>Female</span>
                </div>
            </div>

            <button type="submit">SAVE</button>

        </section>

    </form>

{% endblock content %}